#search-container {
  margin-top: 20px;
  align-items: center;
}

#search-bar {
  width: 15%;
}

#tiles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.task-tile {
  margin: auto;
  width: 30%;
  min-width: 270px;
  margin-bottom: 20px;
}
