<!-- ACTION BAR -->
<div id='search-container'
     class='flex-h margin-left-md'>

  <!-- FILTER / SEARCH BAR -->
  <form id='search-bar'>
    <mat-form-field style="width: 100%;">
      <mat-label>Filter Tasks</mat-label>
      <input type="text"
             placeholder="Search Hashtag: #duedate-2020/1/1 #urgent #open"
             aria-label="Number"
             matInput
             [formControl]="searchFormControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption
                        (optionSelected)='onOptionSelected($event)'
                        #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredHashTags$ | async"
                    [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <!-- HASH-TAGS -->
  <div style="flex: auto;">
    <mat-chip-list #chipList
                   aria-label="HashTag selection">
      <mat-chip *ngFor="let item of selected$ | async"
                removable='true'
                (removed)="unselectFilterValue(item)"
                [matTooltip]='item'>
        {{item | limitTextLength:15}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <!-- ACTION BUTTONS -->
  <div id='filter-search-action-buttons'>

    <button mat-button>Save filters</button>
    <button mat-button>Update filter profile</button>
    <button mat-button
            color='accent'
            (click)='onAddNewTask()'> Add Task</button>

  </div>

</div>


<!-- TILES -->
<div id='tiles-container'>
  <app-mini-tile class='task-tile'
                 *ngFor='let item of tasks | async'
                 [task]='item'></app-mini-tile>
</div>
