<mat-toolbar color='primary'
             class='flex-h flex-space-in-between flex-v-center'>
  <span class='margin-left-md'>#Planner App</span>


  <div>
    <a class='margin-right-sm'
       mat-button
       aria-label="Home"
       [routerLink]="['/home']">
      HOME
    </a>
    <a class='margin-right-sm'
       mat-button
       *ngIf=''
       aria-label="Tasks"
       [routerLink]="['/tasks']">
      TASKS
    </a>
    <a class='margin-right-sm'
       mat-button
       aria-label="HashTag Management"
       [routerLink]="['/tags']">
      #
    </a>
    <a class='margin-right-sm'
       mat-button
       aria-label="User management"
       [routerLink]="['/users']">
      USERS
    </a>
  </div>

  <button *ngIf='isLoggedIn$ | async'
          class='margin-right-sm'
          style="margin-top: -10px"
          mat-fab>{{logInUserInitial$ | async}}</button>

  <a *ngIf='!(isLoggedIn$ | async)'
     style="margin-right: 10px;"
     mat-raised-button
     color='accent'
     aria-label="LogIn"
     [routerLink]="['/login']">
    Log In
  </a>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>
