mat-card {
  height: 40px;
  background-color: #3f51b5;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: x-large;
}

#search-container {
  width: 50%;
}
