<mat-card color='primary'>

  <div class='flex-h flex-space-in-between flex-v-center'>

    <mat-card-header>
      <mat-card-title># Planner App</mat-card-title>
    </mat-card-header>

    <button *ngIf='isLoggedIn$ | async' style="margin-top: -10px; margin-right: 10px"
      mat-fab>{{logInUserInitial$ | async}}</button>

    <a *ngIf='!(isLoggedIn$ | async)' style="margin-right: 10px;" mat-raised-button color='accent' aria-label="LogIn"
      [routerLink]="['/login']">
      Log In
    </a>
  </div>

</mat-card>

<div>
  <router-outlet></router-outlet>
</div>
