/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* FLEX */
.flex-h {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-v {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-space-in-between {
  justify-content: space-between;
}

.flex-v-center {
  align-items: center;
}

/* MARGINS */

.margin-left-md {
  margin-left: 20px;
}


.margin-right-sm {
  margin-left: 10px;
}

/* MISC */

.full-width {
  width: 100%;
}
