#tiles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

#crete-new-tile {
  margin: auto;
  width: 30%;
  height: 400px;
}

.task-tile {
  margin: auto;
  width: 30%;
  height: 400px;
}
