<div class='container'>
  <h1 style="text-align: center;">Welcome to #Planner App</h1>

  <div>
    <p>
      Being a software developer I have used many <b>differnet</b> types of <b>planner</b> and workflow management
      apps: from excel to very sophisticated. <br> Using those tools there have <b>always</b>
      been one thing or another <b>missing</b>. One tool would be <b>good</b> fit <b>for developer</b>, but <b>bad </b>
      <b> for manager</b>;<br> good for reporting but bad for management etc... Tools were either too
      <b>complicated</b> or too simple.
    </p>

    <p>
      <b>Welcome to new way of planning and managing!</b> This is a <b># planner</b> where we use hashtags to organize
      and track work.
    </p>
  </div>
</div>
